<main>
    <ion-header>
        <ion-toolbar>
            <h1>GroupTalk</h1>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        sdvshj
        <section>
            <div></div>

        </section>
        <section>
            <h3>Popular Categories</h3>
            <span>See All</span>
        </section>
        <section id="food">
            Food
            <ion-button (click)="move()" color="red" fill="outline">Let's Eat</ion-button>
        </section>
        <section id="books">
            Books
            <ion-button fill="outline">Let's Read</ion-button>
        </section>
        <section id="anime">
            Anime
            <ion-button fill="outline">Let's Watch</ion-button>
        </section>

    </ion-content>
</main>
